# py cache folder
__pycache__

# .vscode cache
.vscode

# jupyter cache
.ipynb_checkpoints

# Mac OS files
.DS_Store

# Windows OS files
Thumbs.db

# API keys or other configurations
config.py

# Temporary files
map*.html
